*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #ebecec;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    color: rgba(99, 98, 98, 0.295);
}
/*styling of shopping list form-container */
.form-container{
    width: 85%;
    height: 100vh;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 60px;

}
h1 {
    padding-bottom: 30px;
}
.shopping-cart-container {
width: 100%;
max-width: 350px;
height: 230px;
    border: 2px solid rgba(148, 148, 144, 0.253);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
   
}

form {
    display: grid;
grid-template-columns: 200px 100px;
grid-template-rows: 40px 60px;
    width: 100%;
    gap: 10px;
   justify-content: center;
   align-content: center;
   padding-top: 30px;
}

#first-box {
    width: 200px;
}
#second-box {
    width: 100px;
}
#third-box {
    width: 310px;
}
input {
    text-align:left;
    padding: 10px;
    font-size: 11px;
    border: 1px solid rgba(148, 148, 144, 0.26);
    border-radius: 5px;
    display: block;

}
.add-tocart {
    width:60px;
    height: 35px;
    margin: 0px 120px;
    border: 2px solid white;
    border-radius: 7px;
    background-color: rgb(30, 206, 138);
}


.checkout-container {
width: 100%;
height: 100vh;
max-width: 400px;
height: 200px;
margin-top: 35px;
    border: 2px solid rgba(148, 148, 144, 0.253);
    border-radius: 10px;
}

.checkout-container ul
{
    list-style-type: none;
    text-align: justify;
    font-size: 12px;
}

.item1-summary-container {

    margin:30px 5px;
    padding: 10px;
    display: block;
    justify-items: center;
    
}
.add-tocart1 {
    width:60px;
    height: 35px;
    margin-left: 400px;
    border: 2px solid white;
    border-radius: 7px;
    background-color: rgb(30, 206, 138);
}

/*.item2-summary-container {
    margin:10px 5px;
    padding: 10px;
     display: flex;
    flex-direction: row;
    align-items:center;
    justify-items: center;
}